.vs/

.vscode/


ex1/bin/Debug/net6.0/

ex1/obj/

ex1/ex1.csproj


ex2/bin/Debug/net6.0/

ex2/obj/

ex2/ex2.csproj


ex3/bin/Debug/net6.0/

ex3/obj/

ex3/ex3.csproj


ex4/bin/Debug/net6.0/

ex4/obj/

ex4/ex4.csproj
